

body {padding: 0; background-image: url(../images/sayagata-400px-pattern.png)}
header, nav, main, footer {max-width: 75rem; margin: 0 auto;}

div#wrapper {
    max-width: 75rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #000;
    background-color: #FFF;
    //height: 100vh;
}

// header 
header {
    margin-top: 0px;
}// end header

// no changes to nav 

 // end nav

//no changes to main

 // end main

 // footer 
footer {
    margin-bottom: 0px;
}// end footer