/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* ------------------------- body stlyings ------------------------- */
body {
    font-family: $SWfont;
    font-weight: $normalWeight;
    font-size: 16px;
    background-color: $mainColorAl;
    color: $textColorAl;
}

/* ------------------------- navigation ------------------------- */

div#navWrapper {background-color: $accentAl; width: 100%;}
nav#navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}
nav {

    background-color: $accentAl;
    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
    ul li a {
        display: block;
        text-align: center;
        font-weight: $boldWeight;
        padding: .5rem 0;
        color: $primaryColor;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    }
    

    ul li a:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
    }
    ul li.active a  {
        background-color: darken($secondaryColor, 15%);
    }    
    
    
} //end nav