/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body stlyings */
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
}

/* ------------------------- header ------------------------- */
header {
  
  h1 {
    font-size: 2.2rem;
    padding: 1.5rem $gutter;
    color: $pokePrimary;
  }
}

/* ------------------------- navigation ------------------------- */
div#navWrapper {
  background-color: $pokeSecondary;
  //width: 100%;
}

nav {
  background-color: $pokeAccent;

  
  button {
    //display: block;
    margin: 10px $gutter;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem;
    color: $pokePrimary;
    border-radius: 10px;
    text-decoration: none;
    background-color: $pokeSecondary;
    border: none;
    transition: background 0.75s ease, color 0.75s ease;
  }

  button:hover {
    color: $pokeSecondary;
    background-color: $pokePrimary;
  }
 
} //end nav

/* ------------------------- main ------------------------- */
main {

  h1 {
    font-size: 4rem;
    margin: 1rem $gutter;
    padding: 10px;
    color: $pokePrimary;
  }

  p {
    line-height: 120%;
    color: $pokeFontColor;
    margin: 1rem;
  }

  img {
    max-width: 180px;
  }

  hr.fadeAway {
    background: linear-gradient(
      to right,
      rgba(255, 201, 0, 1) 0%,
      rgba(255, 201, 0, 0) 100%
    );
    height: 4px;
    border: none;
    margin: 2rem $gutter;
  }

  .scene {
    width: 200px;
    height: 260px;
    border: 1px solid $pokeAccent;
    margin: 40px $gutter;
    perspective: 600px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    //line-height: 120%;
    color: pokeFontColor;
    text-align: center;
    font-weight: bold;
    //font-size: 4rem;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: $pokeSecondary;
  }

  .card__face--back {
    background: $pokeAccent;
    transform: rotateY(180deg);
  }
} // end main

/* ------------------------- footer ------------------------- */
div#footerWrapper {
  background-color: $pokePrimary;
}
footer {
  width: 100%;
  border-top: 5px solid $pokeAccent;

  p {
    text-align: center;
    color: $pokeSecondary;
    padding: 0.75rem 0;
    font-size: 0.9rem;
  }
}




/* Stay open (don't collapse) */
.stayopen:after {
  content: "";
  display: table;
  clear: both;
}
