$primaryColor: #3642D8;
$secondaryColor: #E3E1DE;
$accent: #FFC900;
$fontColor: #00007F;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;

$SWfont: 'Orbitron', sans-serif;

/* The Galactic Empire favored muted colors of gray, white and black
Empire colors: */
$mainColorEm: #111;
$nextColorEm: #777;
$textColorEm: #BBB;
$accentEm: #FFF;

/* The Alliance Starbird most often appeared in bright red or blue but was also sometimes displayed in yellow, black, or gray.
Alliance colors: */
$mainColorAl: red;
$nextColorAl: #777;
$textColorAl: blue;
$accentAl: yellow;



//pokemon card variables
$pokePrimary: blue;
$pokeSecondary: red;
$pokeAccent: grey;
$pokeFontColor: orange;

$pokeFont: 'PT Sans Narrow', sans-serif;