/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* end of reset */
/* Star Wars specific variables*/
/* The Galactic Empire favored muted colors of gray, white and black
Empire colors: */
/* The Alliance Starbird most often appeared in bright red or blue but was also sometimes displayed in yellow, black, or gray.
Alliance colors: */
/* Pokemon Card specific variables*/
/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body stlyings */
body { font-family: "PT Sans Narrow", sans-serif; font-weight: 400; font-size: 16px; }

/* ------------------------- header ------------------------- */
header h1 { font-size: 2rem; padding: 1rem 2%; color: blue; }

/* ------------------------- navigation ------------------------- */
div#navWrapper { background-color: red; }

nav { background-color: grey; }

nav button { margin: 20px; text-align: center; font-weight: 700; padding: 0.5rem; color: blue; border-radius: 10px; text-decoration: none; -webkit-transition: background 0.75s ease, color 0.75s ease; transition: background 0.75s ease, color 0.75s ease; }

nav button:hover { color: red; background-color: blue; }

/* ------------------------- main ------------------------- */
main h1 { font-size: 2rem; margin: 1rem 0 0 2%; color: blue; }

main p { line-height: 120%; color: orange; margin: 1rem; }

main hr.fadeAway { background: -webkit-gradient(linear, left top, right top, from(#ffc900), to(rgba(255, 201, 0, 0))); background: linear-gradient(to right, #ffc900 0%, rgba(255, 201, 0, 0) 100%); height: 3px; border: none; margin: 2rem 2%; }

main .scene { width: 200px; height: 260px; border: 1px solid grey; margin: 40px 2%; -webkit-perspective: 600px; perspective: 600px; }

main .card { width: 100%; height: 100%; -webkit-transition: -webkit-transform 1s; transition: -webkit-transform 1s; transition: transform 1s; transition: transform 1s, -webkit-transform 1s; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; cursor: pointer; position: relative; }

main .card.is-flipped { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

main .card__face { position: absolute; width: 100%; height: 100%; line-height: 260px; color: pokeFontColor; text-align: center; font-weight: bold; font-size: 40px; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

main .card__face--front { background: red; }

main .card__face--back { background: blue; -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

/* ------------------------- footer ------------------------- */
div#footerWrapper { background-color: blue; }

footer { width: 100%; border-top: 5px solid grey; }

footer p { text-align: center; color: red; padding: 0.75rem 0; font-size: 0.9rem; }

/* Stay open (don't collapse) */
.stayopen:after { content: ""; display: table; clear: both; }

/* media query */
@media only screen and (min-width: 60rem) { body { padding: 0; background-image: url(../images/sayagata-400px-pattern.png); }
  header, nav, main, footer { max-width: 75rem; margin: 0 auto; }
  div#wrapper { max-width: 75rem; margin: 0 auto; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; background-color: #FFF; height: 100vh; }
  header { margin-top: 0px; }
  footer { margin-bottom: 0px; } }

/* end media query */
